
/*---------- Custom -----------*/
:root {
    --bg-white: #fff;
    --bg-light: #f2f6fc;
    --bg-light-gray: rgba(33, 40, 50, 0.03);
    --btn-primary: #f7caa1 !important;
    --purple: #6900c7 !important;
    --dark-gray: #363d47;
}

.nav {
    display: inline-block;
}

#navbarResponsive > ul:nth-child(2) > li:nth-child(2) > form > button {
    line-height: 1.5;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    list-style: none;
    box-sizing: border-box;
    background-color: transparent;
    transition: all .2s;
    display: block;
    text-decoration: none;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 20px;
    color: rgba(255,255,255,.8);
}

.nav-identity {
    padding-top: 18px !important;
}

.media-border {
    border: 2px solid black;
}

.bg-light-gray {
    background: var(--bg-light-gray);
}

.bg-white {
    background: var(--bg-white);
}

.btn-greenblue-light {
    background: var(--greenblue-light);
    color: var(--white);
}

.bg-purple {
    background: var(--purple);
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading,
select, input, textarea, option, label, .tooltip-inner {
    font-weight: 600;
}

#map {
    height: 400px;
}

.noline {
    text-decoration: none;
}

/*Summernote*/
.note-editable, .note-placeholder {
    font-size: 22px;
}

/*Buttons and text*/
.btn-tag {
    margin-top: 10px;
}

.btnWide, .btn-tag {
    width: 100%;
}

button.btn-sm, a.btn-sm {
    line-height: .5;
    border-radius: 10px;
}

.btn-dark:hover {
    border: 4px solid #ff993b;
}

.btn-darkgray {
    background-color: var(--dark-gray) !important;
}

a.btn-darkgray:hover {
    background-color: var(--purple) !important;
}

.btn-warning {
    color: orangered;
    background-color: red;
    border-color: #ff993b;
}

    .btn-warning:hover {
        color: white;
        background-color: #212121;
        outline: 4px solid #ff993b;
    }

.blog-primary {
    background-color: yellow;
}

.purple-outline {
    text-shadow: 1px 0 0 var(--purple), 0 -1px 0 var(--purple), 0 1px 0 var(--purple), -1px 0 0 var(--purple);
}

.user-name {
    padding-top: 10px;
}

/*CARD STYLES*/
.card-hr {
    color: #212121;
    background-color: #212121;
    border: solid;
    height: 3px;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /*background-color: yellow;*/
}

.card-img, .card-img-top, .card-img-bottom {
    height: 150px;
}

/*PAGE STYLES*/
.page-item.active .page-link {
    background-color: #212121;
    border-color: black;
}

.page-link {
    color: #212121;
}

/*SWEET ALERT*/
.div.sawl2-container.swal2-center.swal2-backrop-show > div {
    outline: 4px solid black;
    border: 2px solid #ff993b;
}

/*TOOLTIP STYLES*/
.cftooltip * {
    opacity: 1.0 !important;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: var(--white-color);
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: .25rem;
    border: 2px solid var(--primary-color);
    outline: 4px solid black;
}

.tooltip-show {
    opacity: 1;
}

#TagList {
    width: 100%;
    font-weight: 600;
}

.tagView {
    max-height: 300px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #008878;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #212121;
    border-radius: 10px;
}

.footer {
    color: var(--bg-light);
}

.icon-list-social > a:hover {
    opacity: 0.9 !important;
    color: var(--purple) !important;
}

.copy-right {
    font-size:1.1rem;
}

.miri-ui-kit-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}